#                                    Exploratory Data Analysis Using Pandas

#### Dataset : https://www.kaggle.com/utkarsharya/ecommerce-purchases

### Import Library

In [1]:
import pandas as pd

### Import the Dataset

In [2]:
data = pd.read_csv('C:/Ecommerce Purchases.csv')

### Previewing Data

In [3]:
data

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,"""16629 Pace Camp Apt. 448",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alexisborough,"NE 77130-7478""",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.01E+15,20-Feb,900,JCB 16 digit,pdunlap@yahoo.com,"""Scientist","product/process development""",149.146.147.205,el,98.14,NaN,NaN
2,"""9374 Jasmine Spurs Suite 508",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,South John,"TN 84355-4179""",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"""Fletcher","Richards and Whitaker""",3.34E+15,18-Nov,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,NaN,NaN
4,"""Unit 0065 Box 5052",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,"DPO AE 28026-0283""",74 Zh,AM,"""Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_...","like Gecko) Version/4.0.3 Safari/534.1.1""",Anderson Ltd,6.01E+15,21-May,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,NaN,NaN,NaN
19996,"""0096 English Rest",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,Roystad,"IA 12457""",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,1.80E+14,17-Nov,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,NaN,NaN,NaN
19998,"""40674 Barrett Stravenue",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,Grimesville,"WI 79682""",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4.14E+15,19-Feb,302,JCB 15 digit,rachelford@vaughn.com,"""Embryologist","clinical""",176.119.198.199,el,67.59,NaN,NaN

### 1. Display Top 10 Rows of the Dataset

In [4]:
data.head(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,"""16629 Pace Camp Apt. 448",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alexisborough,"NE 77130-7478""",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.01E+15,20-Feb,900,JCB 16 digit,pdunlap@yahoo.com,"""Scientist","product/process development""",149.146.147.205,el,98.14,NaN,NaN
2,"""9374 Jasmine Spurs Suite 508",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,South John,"TN 84355-4179""",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"""Fletcher","Richards and Whitaker""",3.34E+15,18-Nov,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,NaN,NaN
4,"""Unit 0065 Box 5052",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"DPO AP 27450""",94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"""Simpson","Williams and Pham""",6.76E+11,19-Aug,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,NaN,NaN,NaN
6,"""7780 Julia Fords",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,New Stacy,"WA 45798""",36 vm,PM,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0...","like Gecko) Version/5.1 Safari/531.27.1""","""Williams","Marshall and Buchanan""",6.01E+15,24-Feb,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,NaN
8,"""23012 Munoz Drive Suite 337",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,New Cynthia,"TX 57826""",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"""Brown","Watson and Andrews""",6.01E+15,25-Oct,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,NaN,NaN

### 2. Check the last 10 rows

In [5]:
data.tail(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
19990,"""966 Castaneda Locks",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19991,West Juliafurt,"CO 96415""",92 XI,PM,"""Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352...","like Gecko) Chrome/14.0.877.0 Safari/5352""",Randall-Sloan,3.43E+14,22-Mar,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,NaN,NaN
19992,"""832 Curtis Dam Suite 785",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19993,North Edwardburgh,"TX 55158""",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"""Hale","Collins and Wilson""",2.10E+14,25-Jul,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,NaN,NaN
19994,"""Unit 4434 Box 6343",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19995,"DPO AE 28026-0283""",74 Zh,AM,"""Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_...","like Gecko) Version/4.0.3 Safari/534.1.1""",Anderson Ltd,6.01E+15,21-May,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,NaN,NaN,NaN
19996,"""0096 English Rest",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19997,Roystad,"IA 12457""",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,1.80E+14,17-Nov,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,NaN,NaN,NaN
19998,"""40674 Barrett Stravenue",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19999,Grimesville,"WI 79682""",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4.14E+15,19-Feb,302,JCB 15 digit,rachelford@vaughn.com,"""Embryologist","clinical""",176.119.198.199,el,67.59,NaN,NaN

### 3. Check the Data type for each Column

In [6]:
data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card          object
CC Exp Date          object
CC Security Code     object
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price       object
Unnamed: 14          object
Unnamed: 15          object
Unnamed: 16          object
Unnamed: 17         float64
dtype: object

### 4. Check for Null values in the Dataset

In [7]:
data.isnull().sum()

Address                 0
Lot                  9656
AM or PM            10000
Browser Info        10000
Company             10000
Credit Card         10000
CC Exp Date         10000
CC Security Code    10000
CC Provider         10000
Email               10000
Job                 10000
IP Address          10000
Language            10000
Purchase Price      10000
Unnamed: 14         10272
Unnamed: 15         13426
Unnamed: 16         17734
Unnamed: 17         19717
dtype: int64

## I have to work on the csv file to fix the issues of missing values
## rearrange the values

In [8]:
data.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [9]:
data["Unnamed: 15"]

0          NaN
1        98.14
2          NaN
3        70.73
4          NaN
         ...
19995      NaN
19996      NaN
19997      NaN
19998      NaN
19999    67.59
Name: Unnamed: 15, Length: 20000, dtype: object